body {
  background-color: #F5EDDC;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: Playfair Display;
  font-size: 3rem
}

p {
  font-family: Mukta;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
